/*
    AVINOZ DYNAMIC BOILER
    author: alvin shiu
    website: www.avinoz.com
    version: 1.0
    REFERENCES BELOW
*/


.container,
.row,
.col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container:after,
.row:after,
.col:after {
    content: "";
    display: table;
    clear: both;
}

/*SET BOTTOM PADDING*/
.row {
    padding-bottom: 0;
}

/*DEFAULT COLUMN STYLES*/
.col {
    display: block;
    float: left;
    width: 100%;
}

/*TABLET 800 PX*/
@media (min-width: 50em) {
    .container {width: 100%;} /*720px*/
    .span-1-t {width: 8.333%;}
    .span-2-t {width: 16.666%;}
    .span-3-t {width: 25%;}
    .span-4-t {width: 33.333%;}
    .span-5-t {width: 41.666%;}
    .span-6-t {width: 50%;}
    .span-7-t {width: 58.333%;}
    .span-8-t {width: 66.666%;}
    .span-9-t {width: 75%;}
    .span-10-t {width: 83.333%;}
    .span-11-t {width: 91.666%;}
    .span-12-t {width: 100%;}
/*
    .debug {
      border: blue solid 1px;
      box-sizing: border-box;
    }*/
}

/*DESKTOP 1200 PX*/
@media (min-width: 75em) {
    .container {width: 100%;}  /*1024px*/
    .span-1-d {width: 8.333%;}
    .span-2-d {width: 16.666%;}
    .span-3-d {width: 25%;}
    .span-4-d {width: 33.333%;}
    .span-5-d {width: 41.666%;}
    .span-6-d {width: 50%;}
    .span-7-d {width: 58.333%;}
    .span-8-d {width: 66.666%;}
    .span-9-d {width: 75%;}
    .span-10-d {width: 83.333%;}
    .span-11-d {width: 91.666%;}
    .span-12-d {width: 100%;}

/*    .debug {
      border: green solid 1px;
      box-sizing: border-box;
    }*/
}


/* REFERENCES
https://github.com/jkymarsh
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://css-tricks.com/snippets/css/clear-fix/
*/
